<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap dll="SDL2" os="linux" target="libSDL2.so"/>
    <dllmap dll="SDL2_image" os="linux" target="libSDL2_image.so"/>
    <dllmap dll="SDL2_mixer" os="linux" target="libSDL2_mixer.so"/>
    <dllmap dll="SDL2_ttf" os="linux" target="libSDL2_ttf.so"/>
</configuration>
